*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

p,form,table {
    font-family: "Open Sans", sans-serif;
    font-size: 20px;
    color: white;
    font-weight: bold;
}

h1{
    color: white;
    font-size: 55px;
    font-weight: bold;

}

h2{
    padding-top: 90px;
    color: white;
    font-size: 50px;
    font-weight: bold;
}

h3{
    padding-top: 35px;
    color: white;
    font-size: 20px;
    font-weight: bold;
}



body{
    display: flex;
    flex-direction: column;
    height: 100%;
}

.navegacion{
    display: flex;
    /* justify-content: start; */
    align-items: center;
    padding: 20px;
    background-color: transparent;
}

.navegacion img{
    width: 890px;
    padding-right: 800px;
    padding-left: 20px;
    float: left;
}

.navegacion a{
    text-decoration: none;
    font-size: 18px;
    font-weight: bold;
    color: white;
    padding: 20px;
    font-family: 'Carter One', cursive;
}

.navegacion a:hover{
    border-bottom: 2px solid white;
}

.imagen-fondo{
    background-image: url(https://i.pinimg.com/originals/9a/58/c3/9a58c343701abc80f7e1d5ec4142ab4d.gif);
    background-size: cover;
    background-repeat: no-repeat;
}

.recuadrop{
    background-color: black;
    border:3px solid black;
    border-radius:22px;
    opacity: 0.8;
    width:600px;
    height: 120px;
}

.recuadrop1{
    background-color: black;
    border:3px solid black;
    border-radius:22px;
    opacity: 0.8;
    width:900px;
    height: 140px;
}



/*Botón*/

.btn-neon{
    position: relative;
    display: inline-block;
    padding: 15px 30px;
    color: #fff;
    letter-spacing: 4px;
    text-decoration: none;
    font-size: 45px;
    overflow: hidden;
    transition: 0.2s;
    background: #a945c7;
    box-shadow: 0 0 10px #a945c7, 0 0 40px #a945c7, 0 0 80px #a945c7;
    
}
.btn-neon span{
    position: absolute;
    display: block;
}

.videoIntro{
    padding-top: 100px;
}

.secciones{
    background-image: url(back.gif);
    background-size: 1550px 630px;
    background-repeat: no-repeat;
}

.sect {
    width: 100%;
    height: 700px;
  }
  #sect1{
    background-color: #3333337d;
    color: #fff;
  }
  video{
    position: absolute;
    left: 0;
    top: 0;
    width: cover;
    height: 880px;
    z-index: -1;
  }
  #sect1 {
    position: relative;
    overflow: hidden;
    height: 880px;
  }

  .distribucion{
    display: flex;
    padding-top: 300px;
    padding-left: 200px;
    margin-right: 10px;
    margin-bottom: 10px;
  }

  .distribucionTarjetas{
    display: flex;
    padding-left: 400px;
    margin-right: 10px;
  }

  .distribucionTarjetas2{
    padding-top: 2s0px;
    display: flex;
    padding-left: 400px;
    margin-right: 10px;
  }

  .imagen{
    padding-left: 20px;
    padding-right: 60px;
  }

  /*TARJETAS*/

h4{
    font-size: 20px;
    color: white;
}

.container__card{
    max-width: 1200px;
    margin: auto;
    margin-top: 10px;
    perspective: 1000px;
    display: grid;
    justify-content: center;
    flex-wrap: wrap;
}

.card__father{
    margin: 20px;
    perspective: 100%;
}

.card__father:hover .card{
    transform: rotateY(180deg);
}


.card{
    width: 300px;
    height: 150px;
    position: relative;
    transform-style: preserve-3d;
    transition: all 600ms;
}

.card__front{
    background-size: cover;
    background-position: center;
}


.card__front,
.card__back{
    width: 100%;
    height: 120%;
    position: absolute;
    top: 0;
    left: 0;
    backface-visibility: hidden;
    transform-style: preserve-3d;
    border-radius: 20px;
}

.card__back{
    transform: rotateY(180deg);
    background-image: url(cap.png);
}

.body__card_front{
    width: 100%;
    height: 100%;
    text-align: center;
    padding: 40px;
    display: grid;
    justify-content: center;
    align-items: center;
    color: #fff;
    transform: translateZ(60px);
}

.bg{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 20px;
}

.body__card_back{
    padding: 20px;
    text-align: center;
    transform: translateZ(60px);
}

.body__card_back p{
    margin-top: 15px;
    font-size: 16px;
    color: white;
}

.body__card_back input{
    padding: 10px 40px;
    margin-top: 10px;
    font-size: 16px;
    cursor: pointer;
    border: none;
    color: black;
    background: #58B0F6;
    box-shadow: 1px 1px 30px -5px #58B0F6;
    border-radius: 10px;
    transition: box-shadow 600ms;
}

.body__card_back input:hover{
    box-shadow: 1px 1px 30px 0px #449de6;
}